body {
    font-family: 'Simonetta', serif;
    background-color: blanchedalmond;
    /*background-image: url("img/marten-bjork-6dW3xyQvcYE-unsplash.jpg");*/
}

footer {
    width: 100%;
    background-color: chocolate;
    position: absolute;
    bottom: 0;
}

a span {
    color: chocolate;
    font-family: 'Trade Winds', sans-serif;
    font-size: 1.5em;
}